
<div class="trips-index row container">
  <div class="trips-list columns large-6 small-12">
    <h3 class="trips-index-title">HindSite Trips</h3>
      <% @trips.each do |trip| %>
        <p class="trips-list-links"><%= link_to "#{trip.name}", trip_path(trip) %></p>
      <% end %>
  </div>

  <div class="new-trip columns large-6 small-12">
    <%= render 'form' %>
  </div>
</div>
