<div class="row container text-center">
  <div class="title columns large-12 small-12">
    <p> HindSite </p>
  </div>

  <div class="places-links columns large-6 small-12">
    <%= link_to 'Historical Places', events_path %>
  </div>

  <div class="trips-link columns large-6 small-12">
    <%= link_to 'Historical Trips', trips_path %>
  </div>
</div>
