<body class="home">
<div class="row container text-center">
  <span class="hindsite">
    HindSite
  </span>
</div>

<div class="row container front-page-link">
  <div class="places-link columns large-6 small-12">
    <%= link_to 'Historical Places', events_path, class: "home-links" %>
  </div>

  <div class="trips-link columns large-6 small-12">
    <%= link_to 'Historical Trips', trips_path, class: "home-links" %>
  </div>
</div>

<div class="space">&nbsp</div>

<div class="row container">
  <div class="geolocation-link columns large-12 small-12">
    <%= link_to 'Places Near Me', geolocation_index_path, class: "home-links" %>
  </div>
</div>
</body>
