
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      var centerEvent = {lat: 42.325985, lng: -71.093644};
      var otherEvents = <%= @coordinates.html_safe %>;

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: centerEvent
        });

        for (var i = 0; i < otherEvents.length; i++) {
          var latLng = new google.maps.LatLng(otherEvents[i].lat, otherEvents[i].lng);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }

    </script>
    <script async defer
    src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV["GMAPS_API_KEY"]}&callback=initMap"%>>
    </script>
  </body>
</html>

<div class="row">&nbsp;</div>
<div class="row container">
  <div class="events-list columns large-5 small-12">
    <div>
        <% @events.each do |event| %>
          <p><%= link_to "#{event.name}", event_path(event), class: "events" %></p>
        <% end %>
    </div>
  </div>

  <div class="event-form columns large-6 small-12">
    <h3>Add a Historical Place</h3>

    <%= render 'form' %>
  </div>
</div>
<div class="row">&nbsp;</div>
