.events-list {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
}

.trips-index {
  padding-top: 40px;
  text-align: center;
}

.trip-show-title {
  text-align: center;
  padding-top: 40px;
}

.trip-show-start {
  padding-left: 40px;
}

.trip-show-end {
  padding-right: 40px;
}

.trip-show {
  padding-bottom: 40px;
}

.event-form {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.title-link {
  font-size: 30px;
  padding-left: 30px;
}

.title-text:active, .title-text:hover {
  color: white;
}

.title {
  text-align: center;
  color: white;
}

.signup {
  padding-top: 40px;
  padding-left: 40px;
}

.login {
  padding-top: 40px;
  padding-left: 40px;
}

.forgot-email {
  padding-top: 40px;
  padding-left: 40px;
}

.top-bar {
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.top-bar-right {
  padding-right: 20px;
}

body {
  background-image:       linear-gradient(
    rgba(115, 70, 28, 0.5),
    rgba(115, 70, 28, 0.5)
    ),
    url("/assets/home.jpg");
  background-size: cover;
  color: white;
}

label {
  color: white;
  font-weight: bold;
}

input {
  background-color: white;
}

a {
  color: white;
}

.filler-map {

}

.event-show {
  padding-left: 40px;
  padding-top: 40px;
  font-size: 20px;
}

.reviewlist {
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
}

.link-to-trips {
  text-align: center;
}

.new-trip {
  padding-right: 40px;
  padding-top: 40px;
}

.edit-user {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.trip-details {
  padding-left: 40px;
  padding-right: 20px;
}

.edit-delete-trip {
  padding-bottom: 40px;
}

.title {
  padding-top: 100px;
  font-size: 75px;
}

.cancel {
  padding-top: 40px;
  padding-left: 40px;
}

.new-review {
  padding-top: 40px;
  padding-left: 40px;
}

.new-trip {
  padding-top: 20px;
}

.alert {
  padding-left: 40px;
}

.edit-delete-trip {
  padding-left: 40px;
}
