.events-list {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 20px;
  background-color: #ffffff ;
  opacity: 0.8;
  filter: alpha(opacity=70);
  font-weight: bold;
}

.edit-review {
  padding-top: 40px;
  pading-left: 40px;
}

.edit-delete-links {
  color: #1779ba;
}

front-page-link {
  padding-top: 20px;
}

.edit-delete-links:hover {
  color: black;
}

#map {
  color: black;
}

a {
  color: white;
}

.place-form-title {
  font-family: 'Homemade Apple', cursive;
}

h3 {
  font-family: 'Homemade Apple', cursive;
}

h2 {
  font-family: 'Homemade Apple', cursive;
}

.events {
  color: black;
}

.trips-index {
  text-align: center;
}

.trip-show-title {
  text-align: center;
  padding-top: 40px;
}

.trip-show-start {
  padding-left: 40px;
}

.trip-show-end {
  padding-right: 40px;
}

.trip-show {
  padding-bottom: 40px;
}

.event-form {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.title-link {
  font-size: 30px;
  padding-left: 30px;
}

.title-text:active, .title-text:hover {
  color: white;
}

.title {
  text-align: center;
  color: white;
}

.signup {
  padding-top: 40px;
  padding-left: 40px;
}

.login {
  padding-top: 40px;
  padding-left: 40px;
}

.forgot-email {
  padding-top: 40px;
  padding-left: 40px;
}
.nav-links:hover {
  color: white;
}

.top-bar {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-bar-right {
  padding-right: 20px;
}

.first-review {
  text-align: center;
}

body {
  background-color: #9B8E7E;
  font-family: 'Noto Serif', serif;
  color: white;
}

@media only screen and (max-width: 40em) {
  .hindsite {
    font-size: 60px;
    font-family: 'Homemade Apple', cursive;
  }
  a.home-links {
    font-size: 25px;
    font-family: 'Noto Serif', serif;
  }
  .top-bar-right {display: none;}
  .nav-links {display: none;}
  .space {display: none;}
}

body.home {
  background-image:       linear-gradient(
    rgba(115, 70, 28, 0.5),
    rgba(115, 70, 28, 0.5)
    ),
    url("/assets/home.jpg");
  background-size: cover;
}

label {
  color: white;
  font-weight: bold;
}

input {
  background-color: white;
}

.home-links {
  color: white;
  font-size: 50px;
}

.geolocation-link {
  text-align: center;
}

.trips-link {
  text-align: center;
}

.places-link {
  text-align: center;
}

.home-links:hover {
  color: white;
}

.event-show {
  padding-left: 40px;
  padding-top: 40px;
  font-size: 20px;
  padding-bottom: 40px;
}

.event-details {
  background-color: #ffffff ;
  opacity: 0.8;
  filter: alpha(opacity=70);
  font-weight: bold;
  color: black;
  overflow: auto;
  padding-top: 20px;
}

.trips-list-links {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.trips-list-links:hover {
  color: black;
}

.review-index {
  background-color: #DAD6CA ;
  opacity: 0.8;
  filter: alpha(opacity=70);
  font-weight: bold;
  color: black;
  overflow: auto;
  text-align: left;
  padding: 10px;
}

.reviews-list-title {
  text-align: center;
}

.edit-review-link {
  color: black;
  font-size: 15px;
}

.trips-list {
  background-color: #ffffff ;
  opacity: 0.8;
  filter: alpha(opacity=70);
  font-weight: bold;
  color: black;
  overflow: auto;
  padding-left: 20px;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.trip-details {
  background-color: #ffffff ;
  opacity: 0.8;
  filter: alpha(opacity=70);
  font-weight: bold;
  color: black;
  overflow: auto;
  padding-top: 20px;
  vertical-align: center;
  padding-left: 40px;
  padding-right: 20px;
}

.delete-link {
  color: black;
}

.delete-link:hover {
  color: black;
}

.back-link {
  color: black;
}

.back-link:hover {
  color: black;
}

h4 {
  font-family: 'Noto Serif', serif;
}

.trip-show {
  padding-top: 40px;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover {
    background-color: #E8D5B7;
    color: black;
    font-weight: bold;
}

.alert {
  background-color: #E8D5B7
}

.reviewlist {
  padding-right: 40px;
  padding-bottom: 40px;
  font-size: 20px;
}

.review-form-title {
  text-align: center;
}

.link-to-trips {
  text-align: center;
}

.trips-list-link {
  color: black;
}

.trips-list-link:hover {
  color:black;
}

a.navbar-link:hover {
  color: white;
}

.trips-index-title {
  font-family: 'Homemade Apple', cursive;
}

.new-trip-title {
  font-family: 'Homemade Apple', cursive;
}

.new-trip {
  padding-right: 40px;
  padding-top: 40px;
  text-align: left;
}

.edit-user {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.events:hover {
  color:black;
}

.edit-delete-trip {
  padding-bottom: 40px;
}

@media only screen and (mid-width: 41em) {
  .hindsite {
    font-size: 200px;
    font-family: 'Homemade Apple', cursive;
  }
}

.front-page-link {
  padding-top: 50px;
}

.geo-map {
  padding-top: 40px;
}

.cancel {
  padding-top: 40px;
  padding-left: 40px;
}

.new-review {
  padding-top: 40px;
  padding-left: 40px;
}

.new-trip {
  padding-top: 20px;
}

.alert {
  padding-left: 40px;
}

.edit-delete-trip {
  padding-left: 40px;
}
