
<div class="row container">
  <div class="edit-review columns large-6 small-12">

    <h3>Edit Review for <%= @event.name %></h3>

    <%= render 'form' %><br />

    <%= link_to "Delete", event_review_path, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
