
<div class="row container">
  <div class="edit-review columns large-6 small-12">

    <h3>Edit Review for <%= @event.name %></h3>

    <%= render 'form' %>

    <%= button_to "Delete", event_review_path(@review), method: :delete, class: "button", data: {confirm: "Are you sure?"} %>
  </div>
</div>
